<!-- your html code here -->
<div class="container p-4">
    <div class="row">
        <div class="col-8">
            <div class="first-heading float-left">
                <h1>This First Heading
                 <large class="text-muted">Will Catch Your Eye</large>
                </h1>

            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec massa eget nibh placerat cursus. Integer molestie neque in massa eleifend egestas. Donec ut ornare purus. Donec sed dictum sapien, non convallis magna. Sed id turpis nec sem condimentum tincidunt. Maecenas ultricies consequat vestibulum. Maecenas in purus justo.</p>
        </div>
        <div class="col-4">
            <img src="./assets/img/1.jpg" class="float-right rounded-circle" alt="..." width="290" height="290"/>
        </div>
    </div>
</div>

