<!-- your html code here -->
<div class="container">
    <div class="first-heading">
    <div class="">
    <h1>This First Heading Will Catch Your Eye </h1>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec massa eget nibh placerat cursus. Integer molestie neque in massa eleifend egestas. Donec ut ornare purus. Donec sed dictum sapien, non convallis magna. Sed id turpis nec sem condimentum tincidunt. Maecenas ultricies consequat vestibulum. Maecenas in purus justo.</p>
    </div>
    <img src="./assets/img/1.jpg"/>
</div>