<!-- your html code here -->

<!-- Start of Vanessa's Part -->


<div class="row bg-light p-4">
    <div class="col-md">
        <h1>Portfolio</h1>
        <p>First week class group assignment, we all are designing a part on a one page website. Ran out of
        things to say at this point will end now.Atempting to get the margins correct.</p>
    </div>
</div>
<div class="row bg-light p-3">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>


<!-- Images from files and text -->

