
<div class="card border-light mb-3">
  <div class="card-body">
        <div class="row pt-5">
            <div class="col-sm-4 text-right">
                <img id="servicesimage" src="./assets/img/2.jpg" alt="Woman Typing" class="rounded-circle"></img>
            </div>
            <div class="col-sm-6">
                <h4 class="card-title">You need Programming Services?
                    <span class= "text-secondary">We've got you covered.</span>
                </h4>
                <p class="card-text">HTML, CSS, Bootstrap, Javascript. Python. React. 
                    We know you may not know what any of those mean. 
                    Fortunately for you, we do! And we'll show you all about them so you can become
                    a coding Superstar. </p>
            </div>
        </div>
  </div>
</div>
